.section-info{
    height:280px;
    width: 100%;
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.section-pied-page{
    background-color: rgb(25, 4, 48);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px
}
