/* HERO */
.hero {
    background: linear-gradient(to right, #e96806, #e96806);
    text-align: center;
    padding: 40px;
    color: white;
    margin-bottom: 1%;

}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: #e96806;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}