*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.container{

display:grid;

grid-template-columns:220px 1fr;

grid-template-areas:
"header header"
"nav main"
"nav info"
"footer footer";

}