.first-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;

    nav{
        background-color: #5c5a5a;
        width: 18%;
        padding: 200px 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section{
        width: 82%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;

        div:first-child{
            background-color: #ff7c24;
            padding: 100px 250px;

            h1{
                font-size: 45px;
                margin-bottom: 20px;
            }

            h2{
                font-size: 35px;
                margin-bottom: 20px;
            }

            h3{
                font-size: 30px;
                margin-bottom: 20px;
            }

            button{
                padding: 10px 50px;
                background-color: white;
                color: #ffa500;
                border: none;
                border-radius: 5px;
            }
        }

        div:nth-child(2){
            background-color: #548d2f;
            padding-top: 20px;
            padding-bottom: 20px;  
        }

        div:nth-child(3){
            display: flex;
            gap: 50px;

            div{ 
                background-color: #5ae45a;
                width: 30%;
                padding: 100px 20px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.second-section{
        background-color: #8a2be2;
        text-align: center;
        padding: 150px;
        margin-bottom: 15px;
    }