.services-section{

background:#f3f3f3;

}

.services-title{

background:#5e9e0e;
color:white;
text-align:center;
padding:12px;
font-size:22px;

}

.services{

display:flex;
justify-content:space-around;
padding:20px;

}

.service{

background:#76ff5b;
width:280px;
height:170px;

display:flex;
justify-content:center;
align-items:center;

color:white;
font-weight:bold;

}