@media (min-width: 762px) and (max-width: 1500px) {
  header {
    height: 80px;
    font-size: 30px;
 }
    .bloc {
    margin: 5px 5px;
    font-size: 30px;
    height: 900px;
  } 

 .hero {
    height: 500px;
    
 }
 nav {
    height: 890px;
 }

 .info {
   height: 350px; 
   font-size: 30px;
 }

 .card1 {
    height: 300px;
    width: 270px;
 }
 .card2 {
    height: 300px;
    width: 270px;
 }
 .card3 {
    height: 300px;
    width: 270px;
 }
 
 footer {
   height: 80px;
    font-size: 30px; 
 }
}
   