* {
    padding: 0;
    margin: 0;
    font-family:  Arial;
    color: white;
    /* text-align: center; */
}

.Header {
    background-color: #213ac9;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    background-color: #3a373f;
    height: 750px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.section-hero {
    height: 400px;
    width: 80%;
    background-color: orangered;
    margin-left: auto;
    text-align: center;
    margin-top:-751px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-item:center;
    font-size: 25px;
    gap: 25px;
}
.Button{
    background-color: white;
    color:orangered;
    font-size:23px;
    border-radius: 13px;
    border: none;
    font-weight: bold;
    width: fit-content;
    padding: 8px 32px;
    display: block;
    margin: 0 auto;
}


.titre-principal{
    height: 50px;
    width: 80%;
    background-color: darkgreen;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
}

.section-service{
    height:269px;
    width: 80%;
    margin-left: auto;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.section-service h1{
    height: 281px;
    width: 28%;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section-info{
    height:280px;
    width: 100%;
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.section-pied-page{
    background-color: rgb(25, 4, 48);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px
}


